@page "/"
@model Chirp.src.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <div class=navigation>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a href="/@(User.Identity.Name)">my timeline</a> |
                    <a href="/">public timeline</a> |
                    <a ...>logout [@(User.Identity.Name)]</a>
                </div>
            }
            else
            {
                <div>
                    <a href="/">public timeline</a> |
                    <a href="/">register</a> | 
                    <a href="/">login</a>
                </div>
            }
        </div>
        
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
